<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome Ironhacker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
 <div class="nav">
    <ul>
        <li>
            <a href='/'>Home</a>
        </li>
        <li>
            <a href='/gallery'>Gallery</a>
        </li>
        <li>
            <a class="active" href='/about'>About</a>
        </li>
    </ul>
</div>
<h1>Julie Fliegenspan</h1>
<p>Visual Artist</p>
<p><p>Operations Manager at Institute of Contemporary Art, Miami</p></p>
</body>
</html>