<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JF Art</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
      <div class="nav">
          <ul>
              <li>
                  <a class="active" href='/'>Home</a>
              </li>
              <li>
                  <a href='/gallery'>Gallery</a>
              </li>
              <li>
                  <a href='/about'>About</a>
              </li>
          </ul>
      </div>

    <h1>JF Art</h1>

    
  </body>
</html>